.welcome-bg-container {
  background-color: #1e293b;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: 700;
}
.description {
  font-size: 28px;
  font-weight: none;
  color: #ffffff;
}
custom-btn {
  background-color: #ffffff;
  font-size: 20px;
}
